<div class="budgetify__categories">
  <div class="content-wrapper" *ngIf="categoriesService.isCategories">
    <div role="search" class="search-field_wrapper">
      <label for="search">Search for stuff</label>
      <input
        id="search"
        type="search"
        placeholder="Search..."
        autofocus
        required
        [(ngModel)]="search"
      />
      <button type="submit">Go</button>
    </div>
    <div class="categories-container">
      <app-categories-card
        *ngFor="
          let category of categoriesService.categories
            | searchCategories: search
            | filterCategories: categoriesService.filter;
          let indexOfelement = index
        "
        [category]="category"
        [indexOfelement]="indexOfelement"
      ></app-categories-card>
    </div>
  </div>
  <div class="no-data__container" *ngIf="!categoriesService.isCategories">
    You don't have any categories. Please create one.
  </div>
  <div class="side-buttons-container">
    <app-transactions-filter-btn></app-transactions-filter-btn>
    <app-add-button></app-add-button>
  </div>
</div>
